version: "3.8"

services:
  nextjs:
    container_name: web_masak
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules   # node_modules tetap di container
    environment:
      - NODE_ENV=development
    command: npm run dev
